@font-face {
    font-family: "Mod";
    src: url('/fonts/Moderat-Regular.woff2') format('woff2'),
        url('/fonts/Moderat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mod";
    src: url('/fonts/Moderat-Light.woff2') format('woff2'),
        url('/fonts/Moderat-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

body {
    font-family: "Mod", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    margin:0;
    line-height:1.5;
}

main {
    padding-top: 1.5rem;
}

footer {
    border-top: 1px solid lightgray;
    background: lightgray;
}

nav, main, footer > div, footer > section{
    width: 85rem;
    max-width: calc(100% - 2rem);
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 45rem) {
    nav, main, footer > div, footer > section {
        max-width: calc(100% - 7rem);
        margin: 3.5rem auto;
    }
}

@media (min-width: 64rem) {
    nav, main, footer > div, footer > section {
        max-width: calc(100% - 12.5rem);
    }
}

section {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 45rem) {
    section {
        max-width: calc(100% - 3rem)
    }
}

input {
    border: 1px solid rgba(0,0,0,0.2);
    align-items: center;
    background: none;
    width:calc(100% - 4.7rem);
    max-width: 20rem;
    height: 2.81rem;
    margin: 0 0.5rem;
}

h1 {
    font-size: 2.1rem;
    line-height: 1.2;
}

@media (min-width: 64rem) {
    h1 {
        font-size: 2.63rem;
        margin-top: 2.75rem;
    }
}

h2 {
    margin: 0 0 1.25rem 0;
    font-size: 1.75rem;
    font-weight: normal;
}

p {
    font-size: 1.05rem;
    line-height: 1.65rem;
}

@media (min-width: 64rem) {
    p {
        font-size: 1.75rem;
        line-height: 2.75rem;
        margin: 1rem 0;
    }
}

@media (min-width: 64rem) {
    p {
        font-size: 1.75rem;
        line-height: 2.75rem;
        margin: 1rem 0;
    }
}

ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.5;
}

li {
    height: 2rem;
}

@media (min-width: 45rem) {
    li {
        height: 2.5rem;
    }
}

a {
    text-decoration: none;
    border-bottom: 2px solid;
    font-size: 1.05rem;
    color: black;
    font-weight: bolder;
}

@media (min-width: 64rem) {
    a {
        font-size: 1.75rem;
        line-height: 2.75rem;
    }
}

a:hover {
    color: blue;
}


nav a, footer a{
    border: none;
    font-size: 1.15rem;
}

@media (min-width: 45rem) {
    nav a {
        font-size: 1.75rem;
    }
}

h2 a {
    font-size: 1.75rem;
    font-weight: normal;
}

img {
    width: 4.3rem;
}

@media (min-width: 45rem) {
    img {
        width: 7.35rem;
        padding-right: 3.5rem;
    }
}

footer img {
    height: 1.5rem;
}

@media (min-width: 45rem) {
    footer img {
        padding: 0;
    }
}

footer p {
    font-size: 0.88rem;
    margin: 0;
}

footer > div:first-of-type {
    background-color: white;
    max-width: 100%;
    margin: 0;
    width: 100%
}

@media (min-width: 64rem) {
    footer > div:first-of-type > section {
        max-width: calc(100% - 25rem);
    }
}

footer > div:first-of-type > section div:last-of-type {
    margin-bottom: 0.4rem;
}

@media (min-width: 45rem) {
    footer > div:first-of-type > section div:last-of-type {
        margin-top: 0;
    }
}

footer > div:nth-of-type(2) {
    padding: 3.75rem 0;
    margin: 0 auto;
    display: block;
}

footer > div:nth-of-type(3) {
    margin: 0 1rem;
    display: block;
    padding-bottom: 3.75rem;
}

@media (min-width: 45rem) {
    footer > div:nth-of-type(3) {
        display: flex;
        max-width: calc(100% - 7rem);
        margin: 0 auto;
    }
}

footer > div:nth-of-type(3) * {
    margin: 0;
}

footer > div:nth-of-type(3) section {
    padding-bottom: 0;
    text-align: left;
}

@media (min-width: 45rem) {
    footer > div:nth-of-type(3) section:last-of-type {
        margin-left: 6.25rem;
    }
}

footer > div:nth-of-type(3) h2:first-of-type {
    font-weight: bold;
}

footer section div, footer > div:nth-of-type(3) a {
    flex: 0 1 50%;
    margin: auto 0.62rem;
    margin-bottom: 1.25rem;
    width: auto;
    max-width: calc(50% - 1.25rem);
    padding: 0;
}

footer section div {
    display: block;
}

@media (min-width: 45rem) {
    footer section div {
        max-width: 16.5%;
    }
}

footer > div:nth-of-type(3) a {
    margin: 0;
    max-width: calc(50% - 0.5rem);
}

@media (min-width: 45rem) {
    footer > div:nth-of-type(3) a {
        max-width: calc(20% - 0.13rem);
        padding: 0.13rem;
        padding-left: 0;
        margin-bottom: -2rem;
    }
}

footer > div:nth-of-type(3) a:nth-of-type(2) {
    margin-right: 0;
}

footer > div:nth-of-type(3) a img {
    width: calc(50vw - 1.5rem);
    height: calc(50vw - 1.5rem);
    margin-bottom: 0.5rem;
}

@media (min-width: 45rem) {
    footer > div:nth-of-type(3) a img {
        max-width: 100%;
        height: 66.7%;
    }
}

footer section div:hover {
    filter: invert(7%) sepia(100%) saturate(7219%) hue-rotate(248deg) brightness(108%) contrast(144%);
}

footer form input:nth-child(3) {
    max-width: 6rem;
    margin: 0 calc(50% - 3rem);
    margin-top: 0.5rem;
    background: blue;
    color: white;
}

@media (min-width: 45rem) {
    footer form input:nth-child(3) {
        margin: 0;
    }
}

footer > section {
    margin: 0 1rem;
    padding: 0;
    padding-bottom: 5rem;
}

@media (min-width: 45rem) {
    footer > section:last-of-type {
        margin: 0 auto;
    }
}

footer > section p {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.5;
}

footer > section a {
    font-size: 0.75rem;
}

@media (min-width: 45rem) {
    footer > section:last-of-type a:hover{
        border-bottom: 1px solid;
    }
}

body > div:last-of-type {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 2rem;
    background: linear-gradient(white, lightgray);
}

body > div:last-of-type a {
    position: fixed;
    bottom: 1rem;
    left: calc(50% - 3.25rem);
    font-size: 150%;
    border-bottom: 2px solid;
}

.currentPage {
    color: blue;
    border-bottom: 3px solid;
}

/*

    .layout-container {
        width: 85rem;
        max-width: 95%;
        margin: 0 auto;
    }

    .oneThird {
        width: 30%;
    }

    nav {
        margin-top: 3%;
    }

    section, nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        nav ul, section ul {
            list-style-type: none;
            padding: 0;
            font-size: 1.6rem;
            line-height: 1.5;
        }


    footer {
        border-top: solid 1px lightgray;
        padding-bottom: 2rem;
        background: lightgray;
    }

        footer > section {
            background: white
        }

    h1 {
        font-size: 2.65rem;
        font-weight: normal;
    }

    p {
        font-size: 1.75rem;
    }

    a {
        color: black;
    }

        a:hover {
            color: dodgerblue;
        }

    img {
        height: inherit;
        max-height: 155vh;
        width: 100%;
    }

    nav a {
        text-decoration: none;
    }

    nav img, footer > div section img {
        width: auto !important;
        max-height: 4rem;
        margin: 10%;
        margin-top: 20%;
    }

    main > div, main > section, footer {
        margin-top: 10%;
    }

        main > div:first-of-type {
            font-size: 1.65rem;
        }

        main > section img {
            width: auto;
            max-width: 230%;
        }

        footer > section .oneThird {
            width: auto;
            height: auto;
            margin: 5% auto 0 auto;
        }

        footer > section a {
            text-decoration: none;
        }

        footer > section img {
            margin: 0 auto;
            height: 1.75rem;
            display: block;
        }

            footer > section img:hover {
                /* waarden voor 'dodgerblue' */ /*
                filter: invert(50%) sepia(98%) saturate(2947%) hue-rotate(191deg) brightness(99%) contrast(104%);
            }

        footer > section p {
            margin-top: 2%;
            font-size: 1rem;
            text-align: center;
        }

        footer > div section img {
            margin: auto 0;
        }

    input {
        border-radius: 3px;
        border: 1px solid;
    }

    form textarea {
        width: 100%;
        height: 4rem;
    }

    footer input {
        font-size: 1.5rem;
        background: dodgerblue;
        border-color: dodgerblue;
    }

        footer input:first-of-type {
            background-color: transparent;
            border-color: darkgray;
        }

    footer a {
        font-size: 1.6rem;
        text-decoration: none;
    }

    footer section p, footer section p a {
        font-size: 1rem;
    }

    body > div a {
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 1rem;
        background: linear-gradient(transparent, lightgray, lightgray);
    }

    section ul {
        width: 100%;
        display: flex;
    }

        section ul li {
            min-width: 20%;
            margin: 0 auto;
        }

    .half {
        width: 42%;
        margin: 0 auto;
    }

    section > .half {
        margin: 0;
        height: fit-content;
    }

    .otherWidth {
        width: 100%;
    }

    .selectedPage a {
        color: dodgerblue;
        text-decoration: underline;
    }

        .selectedPage a:hover {
            text-decoration: none;
        }